@charset "UTF-8";

body{
    background-color: rgb(213, 160, 160);
}
h1{
    font-family: Arial, Helvetica, sans-serif; color: blue; font-weight: 400;
}
h2{
    font-family: Georgia, 'Times New Roman', Times, serif; color: red; font-size: 15px;
}
p{
    text-align: justify; font-style: italic;
}