@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh;
    background-color: rgba(127, 255, 212, 0.247);
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
}

header > p {
    padding-bottom: 50px;
}

header a, footer a {
    color: aliceblue;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 1.8em;
    padding-left: 30px;
}

section.normal {
    background-color: aliceblue;
    color: black;
}

section.imagem {
    background-color: rgba(0, 0, 0, 0.714);
    color: antiquewhite;
}

section.imagem > p {
    background-color: rgba(0, 0, 0, 0.626);
    width: 300px;
}

footer {
    background-color: black;
    color: antiquewhite;
    text-align: center;
    padding: 10px;
}