@charset "UTF-8";

*  {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    background-color: rgb(189, 252, 249);
    height: 100vh;
    width: 100vw;
}

header {
    background-color: rgba(0, 128, 0, 0.63);
    color: rgb(201, 195, 185);
    padding: 10px;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

header > h1 {
   flex: 0 0 200px;
}

header > nav {
    
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}

header > nav > a {
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
}

header > nav > a:hover {
   background-color: white;
   color: black; 
   transition: 0.5s;
}

main {
    background-color: rgba(255, 255, 255, 0.678);
    margin: 10px;
    padding: 8px;
    border-radius: 8px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.349);
}